@{
	ViewBag.Title = "Home Page";
}

<h1>POST with AntiForgeryToken</h1>

@* GET *@
<div class="row">
	<hr />
	<h5>GET</h5>
	<div class="col-md-6">
		@Ajax.ActionLink("action link.", "NowWithGET", new AjaxOptions
		{
			UpdateTargetId = "NowWithGET",
			InsertionMode = InsertionMode.Replace,
			HttpMethod = "GET"
		})
	</div>
	<div class="col-md-6" id="NowWithGET"></div>
</div>

@* POST with AntiForgeryToken by Ajax.BeginForm *@
<div class="row">
	<hr />
	<h5>POST with AntiForgeryToken by Ajax.BeginForm</h5>
	<div class="col-md-6">
		@using (Ajax.BeginForm("NowWithToken", new AjaxOptions
		{
			UpdateTargetId = "NowWithToken2",
			InsertionMode = InsertionMode.Replace,
		}))
		{
			@Html.AntiForgeryToken();
			<input type="submit" value="NowWithToken" name="submit" />
		}
	</div>
	<div class="col-md-6" id="NowWithToken2"></div>
</div>

@* POST with AntiForgeryToken by Ajax.ActionLink *@
<div class="row">
	<hr />
	<h5>POST with AntiForgeryToken by Ajax.ActionLink</h5>
	<span id="token">
		@Html.AntiForgeryToken()
	</span>
	<div class="col-md-6">
		@Ajax.ActionLink("action link.", "NowWithToken", new AjaxOptions
		{
			UpdateTargetId = "NowWithToken3",
			InsertionMode = InsertionMode.Replace,
			HttpMethod = "POST",
			OnBegin = "onBegin",
		})
	</div>
	<div class="col-md-6" id="NowWithToken3"></div>
</div>


@section scripts{
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

<script type=text/javascript>
	function onBegin(jqXHR, settings) {
		console.log('=== jqXHR ===\n' + jqXHR.toSource());
		console.log('=== settings ===\n' + settings.toSource());
		var token = $('#token  [name=__RequestVerificationToken]').val();
		settings.data = settings.data + '&__RequestVerificationToken=' + token;
		console.log('=== settings with token ===\n' + settings.toSource());
		console.log('=== settings.data ===\n' + settings.data);
	}
</script>
